{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{% static 'bgremover/css/bgremover.css' %}">
{% endblock %}
{% block 'body' %}
<h1>Remover Fundo da Imagem</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image" accept="image/*">
        <button type="submit">Remover Fundo</button>
    </form>

    {% if result_image %}
    <h2>Imagem com Fundo Removido</h2>
    <img src="{{ result_image }}" alt="Imagem com fundo removido">
    {% endif %}

{% endblock %}